body {
    background-color: skyblue;
}

h1 {
    color: black;
    text-align: center;
}

img {
    width: 25%;
    padding: 5px;
    margin: 0px 10px 10px 0;
}
/*
lista {
    width: 10%;
    padding: 5px;
    margin: 0px 10px 10px 0;
}*/

p {
    font-family: "Times New Roman";
    font-size: 20px;
}